<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="SimpleConfig.SimpleConfigHandler, SimpleConfig"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <serviceSettings>
    <endpoints>
      <endpoint name="Test" protocol="Sftp" url="Test" username="SafeInfo" encryptedPass="Test">
        <remoteDirectory>/remotepath/</remoteDirectory>
        <destinations>
          <destination name="C:\temp-load" type="Primary"/>
          <destination name="C:\temp-archive" type="Archive"/>
        </destinations>
      </endpoint>
    </endpoints>
  </serviceSettings>
</configuration>
